*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #020d18;
  --color-secondary: #f1c40f;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: var(--color-primary);
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-secondary-bold {
  color: var(--color-secondary);
  font-weight: 700;
}

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

.back {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--color-secondary);
  color: #000;
}

.btn:disabled {
  border-color: #ccc;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background: transparent;
  color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-header {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.8);
}

.main-header .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header ul {
  display: flex;
}

.main-header ul li {
  margin-left: 20px;
}

.main-header ul li a {
  font-size: 16px;
}

.main-header ul li a:hover {
  color: var(--color-secondary);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Card */
.card {
  background: #04376b;
  padding: 5px;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background: #0a4b8f;
}

/* Footer */
.main-footer {
  background: #020d18;
  padding: 20px 0;
  margin-top: 800px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .container .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-footer .container .social-links {
  display: flex;
  font-size: 20px;
}

.main-footer .container .social-links a {
  margin-left: 10px;
  color: #fff;
}

.main-footer .container .social-links a:hover {
  color: var(--color-secondary);
}

/* Section: Now Playing */

section.now-playing {
  padding: 60px;
  background: url(../images/showcase-bg.jpg) no-repeat center center/cover;
}

section h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
section h5 {
  margin: 20px 0;
  text-align: center;
}

/* Slider */
.swiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-rating {
  padding: 10px;
}

/* Movie Details */
.details-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
}

@media (max-width: 700px) {
  .details-top {
    display: block;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: #ccc solid 1px;
  }
}

.details-top img {
  width: 400px;
  height: 100%;
  margin-right: 60px;
  object-fit: cover;
}

.details-top p {
  margin: 20px 0;
}

.details-top .btn {
  margin-top: 20px;
}

.details-bottom {
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}

.details-bottom li {
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}

/* Search */
.search {
  padding: 20px;
  margin-bottom: 20px;
}

.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search .container h2 {
  margin-bottom: 20px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

.search-radio label {
  margin-right: 15px;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search .container form input[type='text'] {
  flex: 6;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.search .container form input[type='text']::placeholder {
  color: #fff;
}

.search .container form input[type='text']:focus {
  outline: none;
}

.search .container form button {
  flex: 1;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  background: var(--color-secondary);
  color: #000;
}

.search .container form button:hover {
  background: transparent;
  color: #fff;
}

.pagination {
  position: absolute;
  bottom: 0;
  left: 20;
  margin-bottom: -100px;
}

.page-counter {
  margin-top: 10px;
  position: relative;
  z-index: 1000;
}

/* Alert */
.alert {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-success {
  background: green;
}

.alert-error {
  background: red;
}

.overlay {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 170vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.15;
}

#search-results-wrapper {
  position: relative;
  margin-bottom: 160px;
}
.filter-div {
  display: block;
  float: top; /* Align to the top of the trigger checkbox */
}
.filter-container {
  display: inline;
  float: top;
  margin-left: 10px; /* Adjust spacing between checkboxes */
  vertical-align: top; /* Align to the top of the trigger checkbox */
}
.checkbox-container {
  display: inline-block;
  /* float: left; */
  /* margin-left: 10px; /* Adjust spacing between checkboxes */
  padding-left: 10px;
  vertical-align: top; /* Align to the top of the trigger checkbox */
}

.popup-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.popup-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.popup-menu ul li {
  margin-bottom: 10px;
}

.filter-menu-item {
  text-decoration: none;
  color: #333;
  position: relative;
  display: inline-block;
}

.popup-menu ul li:not(.selected) {
  margin-top: 5px; /* Adjust the margin of the unselected items */
}
.filter-menu-item::after {
  content: '\2713'; /* Unicode checkmark symbol */
  display: none;
  position: absolute;
  top: 0px;
  left: -5px;
  transform: translate(-50%);
  color: #007bff;
  /* width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 70%; */
}

.filter-menu-item.selected::after {
  display: block;
}

.separator {
  border-top: 1px solid #ccc; /* Style the separator line */
  margin-top: 5px; /* Add some spacing */
  padding-top: 0px; /* Add some spacing */
}

.close-x {
  /* display: block; */
  float: right;
  color: red;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
}
.close-x:hover {
  /* Your styles for the close anchor on hover */
  text-decoration: underline; /* Example: Underline on hover */
}

.close-x:active {
  /* Your styles for the close anchor when clicked */
  color: darkred; /* Example: Darker color when clicked */
}
.close-text {
  /* Your styles for the 'Close' text */
  color: black; /* Change color as desired */
  font-style: italic;
  margin-right: 0px; /* Adjust spacing between the 'Close' text and 'X' anchor */
  display: inline;
}
.close-text:hover {
  /* Your styles for the close anchor on hover */
  text-decoration: underline; /* Example: Underline on hover */
}
#all-filters {
  display: none;
}
#search-radio-button-panel {
  display: flex;
  justify-content: space-between;
}
/* .right-float {
  float: right;
}

#search-radio-button-panel .search-radio.right-float {
  float: right;
} */
